
.legend {
    margin-top: 9px;
    padding-bottom:15px;	
    margin-bottom:10px;
    margin-left:-12px;
    display: none;
    height:90px;
    overflow:auto;		
}
.slider {
	margin-top: 10px;
	margin-left:5px;
	margin-right:5px;
	width:96% !important;
}
.ui-slider-horizontal {
	height: 10px !important;
	border-color: #e0e0e0;
	margin-bottom: 30px;
	width:96% !important;
}
.ui-slider-handle {
	border-color: #a0a0a0;
	height: 17px !important;
	width: 17px !important;
	top: -5px !important;
	outline: none;
	cursor: pointer;
}

